<h2> Log In </h2>

{{#if badRequestMessage}}
  <p class="error-message">
    {{ badRequestMessage }}
  </p>
{{/if}}

<form action="/login" method="post">
  <div>
    <label for="email-input"> Username </label>
    <input type="text" name="username" id="email-input"
      placeholder="e.g., Pepe">
  </div>

  <div>
    <label for="password-input"> Password </label>
    <input type="password" name="password" id="password-input"
      placeholder="e.g., ••••••••••••">
  </div>

  <button> Log In </button>
</form>

<p>
  Don't have an account?
  <a href="/signup">
    Create an account.
  </a>
</p>